## Map Function
- Map()  function applies a given function to all items in an input list(or any other iterable) and return a map object(an iterator).This is particualry useful for transforming data in a list comprehensively.

In [1]:
def square(x):
    return x*x
square(4)

16

In [4]:
numbers=[1,2,3,4,5,6,7,8]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
#Lambda function with map

numbers=[1,2,3,4,5,6,7,8]

list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
# Map multiple iterables 

num1=[1,2,3]
num2 = [4,5,6]

added_num = map(lambda x,y:x+y,num1,num2)

list(added_num)

[5, 7, 9]

In [8]:
#Map() to convert a list of string to integers
#use map to convert str to int

str_num = ['1','2','3','4','5','6']
int_num = list(map(int,str_num))
int_num

[1, 2, 3, 4, 5, 6]

In [10]:
words = ['apple','banana','cherry']
upper_word = list(map(str.upper,words))
upper_word

['APPLE', 'BANANA', 'CHERRY']

In [11]:
def get_name(person):
    return person['name']

people=[
    {'name':'sandeep','age':25},
    {'name':'varun','age':23}
]

list(map(get_name,people))

['sandeep', 'varun']